---
# The scss file which include files from _sass/
---

@charset "utf-8";

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "variables";
@import "base/base";
@import "post";

body {
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  color: rgba(46, 48, 58, 0.96);
  font-family: "ff-tisa-web-pro",serif;  
  line-height: 1.5em;
}

.container {
  @include outer-container;
}

.blog-header {
  margin: 40px 0;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: thin solid $border-color;
}

.logo {
  background:url('/images/perfectfox.svg') no-repeat;
  background-color: $seriousfox-color;
  display: inline-block;
  color: rgb(99, 166, 159);
  width: 150px;
  height: 150px;
}


// styling for code
@import "solarized-dark";
