---
# The scss file which include files from _sass/
---

@charset "utf-8";

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "mixins";
@import "variables";
@import "icon-variables";

@import "base/base";
@import "pagination";

@import "home";
@import "post";
@import "typography";

.container {
  @include outer-container;
}

footer {
  margin: 40px 0 20px;
  padding:40px 0 20px;
  border-top: thin solid #f3f3f3;
  .nav-footer {
    @include outer-container;
  }
  .blog-by {
    @include span-columns(6);
  }
  .footer-links {
    @include span-columns(6);
    margin:0;
    a {
      color:$seriousfox-color;
      font-family: $sans;
      float: right;
      font-weight: bold;
      font-size: rem(16px);
      line-height: 1.25;
      padding-right: 10px;
    }
  }
}

footer:after {
  content: "";
  display: block;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}

// styling for code
@import "solarized-light";
