// Post Header
// <header class="post-header">
//   <a href="{{ site.url }}" class="logo"></a>
// </header>
.post-page-header {
  min-height: 106px;
  padding-left: 40px;
  .logo {
    position: absolute;
  }
}
// Posts
.posts {
  @include media($tablet) {
    padding:0 20px;
  }
}

// <div class="post">
//   <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
//     <h3 class="post-title">{{ post.title }}</h3>
//     <p class="post-summary">{{ post.summary }}</p>
//     <p class="post-meta">
//       <div class="author">
//         <span>by </span><a href="{{ author.twitter }}">{{ author.display_name }}</a>
//       </div>
//       .post-date
//       {{ post.date | date: "%b %-d, %Y" }}
//     </p>
//   </a>
// </div>
.gist .line-numbers {
  width: $padding-l * 2;
}
.post {
  border-bottom: 1px solid rgba(228, 229, 233, 0.96);
  margin-bottom: 3rem;
  padding-bottom: 3rem;

  .post-title {
    @include transition(color .2s);
    color:rgba(46, 48, 58, 0.96);
  }
  .post-link {
    &:hover {
      .post-title {
        color: $brand-orange;
      }
    }
  }
  .post-summary {
    color: rgba(142, 146, 166, 0.96);
    font-size: 1em;
    line-height: 1.75;
    margin: .75rem 0;
  }
}
.post-header {
  .post-meta {
    .post-date {
      text-align: center;
      &:after {
        content: '–'
      }
    }
  }
}
.post-meta {
  color: $blue-grey;
  padding-bottom: 3rem;
  text-align: center;
  padding-bottom: 0;
  text-align: left;
  width: auto;

  .author {
    display:inline-block;
    font-style: italic;
    &:before {
      content: 'Written by';
      font-style: italic;
      margin-right: $padding-xs;
      line-height: rem(40px);
      display: inline-block;
      vertical-align: middle;
    }
    a {
      .author-name {
        color:$seriousfox-color;
        font-weight: $semibold;
        border-bottom: 1px solid transparent;
      }
      &:hover {
        .author-name {
          border-bottom: 1px solid $seriousfox-color;
        }
        .author-profile {
          @include transform(scale(1.1, 1.1));
        }
      }
    }
    .author-profile {
      width: rem(50px);
      height: rem(50px);
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin-right: $padding-xs;
      @include transition(all 0.2s ease-in-out);
    }
    .author-name {
      display: inline-block;
      vertical-align: middle;
      @include transition(border 0.2s ease-in-out);
    }
  }
  .post-date {
    font-family: $sans;
    font-size: rem(14px);
    line-height: rem(40px);
    &:before {
      content: '–'
    }
  }
  .tags {
    display:inline-block;
  }

}

// Post Container
.post-container {

  @include media($tablet) {
    padding:0 20px;
  }
  .post-header {
    text-align: center;
    padding-bottom: rem(20px);
    margin-bottom: rem(20px);
    border-bottom: 1px solid rgba(228, 229, 233, 0.96);
    @include col(10,1,$tablet,9,0);
    h1 {
      padding-bottom: $padding-m;
    }
  }
  .post-content {
    @include col(10,1,$tablet,9,0);
    @extend %article-typography;
  }
  .post-meta {
    text-align: center;
  }
}
.post-meta {
  display: inline-block;
  vertical-align: middle;
}
.highlight pre code {
  font-size: rem(14px);
}

.highlight + .highlight {
  margin-top: $padding-m;
}
.read-more {
  font-family: $sans;
  font-size: rem(12px);
  margin-top: 20px;
  display: inline-block;
  padding: 0 $padding-m;
  border-radius: 3px;
  border: 1px solid $fox;
  float: right;
  color: $fox;
  @include transition(all 0.2s ease-in-out);
  &:hover {
    background-color: $fox;
    color: white;
  }
}
@mixin author-button($color) {
  color: $color;
  border-color: $color;
  &:hover {
    background-color: $color;
    color: white;
  }
}

.post {
  &.Josh {
    .post-link:hover {
      .post-title {
        color: $josh;
      }
    }
    .read-more {
      @include author-button($josh);
    }
  }
  &.Alex {
    .post-link:hover {
      .post-title {
        color: $alex;
      }
    }
    .read-more {
      @include author-button($alex);
    }
  }
  &.Linnea {
    .post-link:hover {
      .post-title {
        color: $linnea;
      }
    }
    .read-more {
      @include author-button($linnea);
    }
  }
  &.Ale {
    .post-link:hover {
      .post-title {
        color: $ale;
      }
    }
    .read-more {
      @include author-button($ale);
    }
  }

  &.Marin {
    .post-link:hover {
      .post-title {
        color: $marin;
      }
    }
    .read-more {
      @include author-button($marin);
    }
  }
}