// Post Header
// <header class="post-header">
//   <a href="{{ site.url }}" class="logo"></a>
// </header>
.post-page-header {
  border-bottom: 1px solid rgba(228, 229, 233, 0.96);
  margin-bottom: 2rem;
  min-height: 80px;
  padding: 0 48px;
  .logo {
    position: absolute;
  }
}
// Posts
.posts {
  @include media($tablet) {
    padding:0 20px;
  }
}
// <div class="post">
//   <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
//     <h3 class="post-title">{{ post.title }}</h3>
//     <p class="post-summary">{{ post.summary }}</p>
//     <p class="post-meta">
//       <div class="author">
//         <span>by </span><a href="{{ author.twitter }}">{{ author.display_name }}</a>
//       </div>
//       .post-date
//       {{ post.date | date: "%b %-d, %Y" }}
//     </p>
//   </a>
// </div>
.post {
  border-bottom: 1px solid rgba(228, 229, 233, 0.96);
  margin-bottom: 3rem;
  padding-bottom: 3rem;

  .post-title {
    @include transition(color .2s);
    color:rgba(46, 48, 58, 0.96);
  }
  .post-link {
    &:hover {
      .post-title {
        color: $brand-orange;
      }
    }
  }
  .post-summary {
    color: rgba(142, 146, 166, 0.96);
    font-size: 1em;
    line-height: 1.75;
    margin: .75rem 0;
  }
}

.post-meta {
  color: $blue-grey;
  .author {
    display:inline-block;
    font-style: italic;
    &:before {
      content: 'Written by';
      font-style: italic;
      margin-right: $padding-xs;
      line-height: rem(40px);
      display: inline-block;
      vertical-align: middle;
    }
    a {
      color:$seriousfox-color;
      &:hover {
        .author-profile {
          @include transform(scale(1.1, 1.1));
        }
      }
    }
    .author-profile {
      width: rem(40px);
      height: rem(40px);
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin-right: $padding-xs;
      @include transition(all 0.2s ease-in-out);
    }
    .author-name {
      display: inline-block;
      vertical-align: middle;
      line-height: rem(40px);
    }
  }
  .post-date {
    text-align: center;
    font-family: $sans;
    font-size: rem(12px);
    line-height: rem(40px);
    &:before {
      content: '–'
    }
    &:after {
      content: '–'
    }
  }
  .tags {
    display:inline-block;
  }

  padding-bottom: 3rem;
  text-align: center;

  padding-bottom: 0;
  text-align: left;
  width: auto;
}

// Post Container
.post-container {
  @include media($tablet) {
    padding:0 20px;
  }
  .post-header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(228, 229, 233, 0.96);
    h1 {
      padding-bottom: $padding-m;
    }
  }
  .post-meta {
    text-align: center;
  }
}