$base-font-size: 16px;

@function rem($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1rem;
}

$border-color: #f3f3f3;
$seriousfox-color: rgb(249, 182, 115);
$sans: 'Rosario', "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "ff-tisa-web-pro", serif;
$brand-orange: #F79653;

$blue-grey: #5B5F73;

$padding-xl: rem(30px);
$padding-l: rem(20px);
$padding-m: rem(15px);
$padding-s: $padding-l/2;
$padding-xs: $padding-l/4;

$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 800;
$font-black: 900;

$josh: #F79441;
$alex: #3FA2C2;
$marin: #92BE9D;
$linnea: #EDA18A;
$fox: #363636;
$ale: #A186BE;
